<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../interface/ui.css"/>
	<script type="text/javascript" src="../interface/jquery.js"></script>
	<script type="text/javascript" src="../interface/ui.js"></script>
</head>
<body>
	<div class="main main-page">
		<h1>Truesight</h1>
		
		<div>
			<b>Wallet Endpoint:</b> <span class="wallet_status"><b></b></span>
		</div>
		<br/>
		
		<div class="wallet_box">
			<b>Unlocked Balance:</b> <span class="wallet_balance_unlocked emphasize"><b></b></span> DERO
		</div>
		<div class="wallet_box">
			<b>Total Balance:</b> <span class="wallet_balance emphasize"><b></b></span> DERO
		</div>
		<br class="wallet_box"/>
		
		<div>
			<b>Daemon Endpoint:</b> <span class="daemon_status"><b></b></span>
		</div>
		<br/>
		
		<div class="daemon_box">
			<b>Current Height:</b> <span class="daemon_height emphasize"><b></b></span>
		</div>
		<div class="daemon_box">
			<b>Current Chain:</b> <span class="daemon_net emphasize"><b></b></span>
		</div>
		<br class="daemon_box"/>
		
		<div class="button refresh-action">REFRESH</div>
		<div class="button options-action">OPTIONS</div>
		<br/>
		
		<a href="#info_page" class="trigger-info-page"><center>&#9432; learn more</center></a>
	</div>
	<div class="main info-page">
		<a href="#main_page" class="trigger-main-page"><center>close</center></a>
		
		<br/>
		<center>
			<img src="../media/icons/128.png"/>
		</center>
	
		<h1>Info</h1>
		
		Truesight - Enables secure communication between your Chrome browser and DERO wallet
		<br/>
		
		<br/>
		@plrspro (2019)

	</div>
</body>
</html>