<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="../interface/ui.css"/>
	<script type="text/javascript" src="../interface/jquery.js"></script>
	<script type="text/javascript" src="../interface/ui.js"></script>
</head>
<body>
	<div class="full main-page">
		<h1>Truesight</h1>
		<br/>
		
		<div>
			<b>Wallet Endpoint</b> <span class="wallet_status"><b></b></span>
		</div>
		<div>
			<input type="text" name="wallet" placeholder="http://127.0.0.1:30309"/>
		</div>
		
		<br/>
		
		<div>
			<b>Daemon Endpoint</b> <span class="daemon_status"><b></b></span>
		</div>
		<div>
			<input type="text" name="daemon" placeholder="http://127.0.0.1:30306"/>
		</div>
		
		<br/>
		<br/>
		
		<div class="button options-update-action">UPDATE</div>
		<br/>
		
		<a href="http://plrs.pro/truesight"><center>&#9790; official truesight website</center></a>
		<a href="http://dero.io"><center>&#9790; dero project website</center></a>
	</div>
</body>
</html>